html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*主体*/
.container {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
/*头部*/
.container header{
    width: 100%;
    height: 2rem;
    background-color: #ffffff;
    border-bottom: 1px solid #bbbbbb;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .header_left{
    width: 3rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.container .header_left img{
    width: 0.6rem;
    height: 0.8rem;
    display: block;
}
.container .close{
    font-size: 0.44rem;
}
.container header h3{
    flex: 1;
    overflow:hidden;
    text-align: center;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 0.44rem;
    letter-spacing: 0.3rem;
}
.container .bookshelf{
    display: block;
    width: 3rem;
    text-align: center;
    font-size: 0.44rem;
}
/*内容*/
section{
    flex: 1;
    position: relative;
}
.left_rule,.right_rule{
    width: 1.5rem;
}
.left_rule{
    position: absolute;
    left: 0.5rem;
    top: 0;
}
.right_rule{
    position: absolute;
    right:0.9rem;
    top: 0;
}
.grab{
    width: 9rem;
    height: 25%;
    position: absolute;
    left: 5rem;
    bottom:22%;
}
.free{
    position: absolute;
    bottom: 17%;
    width: 100%;
    text-align: center;
    color: #9c2c27;
    font-size: 0.35rem;
}
section ul{
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section ul li{
    flex: 1;
    text-align: center;
}
section ul li img{
    width: 3rem;
}

